/**-----------------------------------------
 * Colors Palette
 */
@color-01: #999; // Darker gray (Fog)
@color-02: #e67e22; // Orange (orange beat)
@color-03: #8d9294; // Gray (Dowdy)
@color-04: #41494c; // Dark gray
@color-05: #cccccc; // Light Gray (all cs)
@color-06: #fff; // white

/**-----------------------------------------
 * Default Theme
 */
@bg-color: @color-06;
@header-bg-color: @color-04;
@text-color: @color-04;
@text-color-light: @color-06;
@title-color: @color-04;
@link-color: @color-02;
@box-color: @color-01;
@border-color: @color-05;

// states
@color-info: @color-01;
@color-warning: @color-04;
@color-danger: @color-03;
@color-success: @color-02;

/**-----------------------------------------
 * Fonts
 */
// headings
@primary-font: 'Open Sans', sans-serif;
// paragraphs
@secondary-font: 'other font';

// base font size
@font-base: 16px;

@font-sm: unit(12/@font-base, em);
@font-md: unit(16/@font-base, em);
@font-lg: unit(20/@font-base, em);
@font-xl: unit(28/@font-base, em);
@font-xxl: unit(36/@font-base, em);

// font weights
@fw-light: 300;
@fw-regular: 400;
@fw-semi-bold: 600;
@fw-bold: 700;

/**-----------------------------------------
 * Utils
 */
@radius: 5px;
@shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
@cache-version: 2012324;

/**
 * Images
 */
//@image-logo: '../misc/logo.png';


/**-----------------------------------------
 * Media Queries
 */
@screen-xs: 30em; // 480px
@screen-sm: 48em; // 768px
@screen-md: 64em; // 1024px
@screen-lg: 75em; // 1200px